altgraph==0.17.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
docopt==0.6.2
future==0.18.2
idna==3.3
importlib-metadata==4.11.3
lief==0.12.1
packaging==21.3
pefile==2021.9.3
pipreqs==0.4.11
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pywin32-ctypes==0.2.0
QDarkStyle==3.0.3
QtPy==2.0.1
requests==2.27.1
urllib3==1.26.9
yarg==0.1.9
zipp==3.8.0
